#cart {
  padding: 80px 0px;
  .coupon {
    display: flex;
    gap: 20px;
    width: 30%;
  }
  #coupon_code {
    width: 50%;
  }
  .checkout-button {
    background-color: #c09b6a;
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
  }
}
#cart-body {
  tr {
    td {
      .quantity {
        input {
          width: auto;
          padding: 0px 10px;
        }
      }
      a {
        color: #c09b6a;
      }
      .coupon {
        button {
          background-color: #c09b6a;
          color: #ffffff;
        }
      }
    }
  }
}
