#footer .footer-quicklinks .elementor-element-317c0e6 {
  width: 100%;
}
#menu-1-317c0e6 {
  gap: 10px;
}
#footer .menu-item-type-post_type {
  color: #ffffff;
  background-color: #c09b6a;
  width: 100%;
  margin-bottom: 0px;
}
#footer .menu-item-type-post_type a {
  margin: 0;
}
#footer .menu-item-type-post_type :hover {
  color: #ffffff;
  opacity: 0.5;
}
#footer .menu-item-type-post_type .elementor-item-active {
  color: #ffffff;
}
