#home-featured-product-list {
  ul {
    li {
      a {
        h2 {
          padding: 0;
          width: inherit;
          height: 60px;
          overflow: hidden;
          display: -webkit-box;
          -webkit-line-clamp: 3;
          line-clamp: 3;
          -webkit-box-orient: vertical;
          text-overflow: ellipsis;
        }
      }
    }
  }
}